img{
      max-width:100%;
      height:auto;
}

.auth-section{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-left: -10%;
}

h1.main-title{
    color:white;
      font-family: 'Righteous',
      cursive;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 35px;
}
