img{
    max-width:100%;
    height:auto;
}

.test{
    color: white;
    background-color:black;
}

.first-card-data{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

#avatar{
    border-radius: 50%;  
}

#name{
    
    font: normal normal normal 92px/105px Gang of Three;
    font-size: 35px;
}

.location{
    background-color: #DC3223;
    border-radius: 8px;
    height: 50px;
    font-size: 35px;
    width: 60%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 4px #FF0000;

}
p.location {
    margin-left: 25%;
    display: flex;
    align-items: center;
}
.first-card-data{
    margin-top: 2%;
    margin-left: -15%;
}

ul.social-media-list img {
    padding: 5px;
    border-radius: 5px;
    background-color: #DC3223;
    box-shadow: 0 0 4px #FF0000;
    width: 36px;
    height: 36px;
}


ul.social-media-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.social-media-list li {
    display: inline-block;
    margin:4px;
}

ul.social-media-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0px;
    /* eliminate space between li */
}

ul.social-media-list img:hover {
    background-color: #3FD59F;
        box-shadow: 0 0 6px #3FD59F;

}
