img {
    max-width: 100%;
    height: auto;
}

.third-card-data{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
}

#flexbox {
    display: flex;
    /* height: 100px; */
    /* width: 200px; */
    column-gap: 30px;
}

#flexbox>div {
    /* border: 1px solid green;
    background-color: lime; */
    flex: auto;
    width: 300px;
}

.title{
    margin-top: -15%;
     background-color: #DC3223;
     border-radius: 8px;
         box-shadow: 0 0 4px #FF0000;
  font-size: 30px;
}

.counter-numbers{
    font-size: 58px;
    color: white;
     font-family: 'Righteous', cursive;
     font-weight: bold;
           text-transform: uppercase;

}